<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div width="100%">
            <label>Authorization: </label>
            <input placeholder="Your login" id="user"></input>
            <input placeholder="Your pass" id="password"></input>
        </div>
        <div width="100%">
            <label>Request: </label>
            <input placeholder="KBP" id="depAirport" type="text"></input>
            <input placeholder="BUD" id="arrAirport" type="text"></input>
            <input placeholder="2019-09-09" id="date" type="text"></input>
            <button onclick="sendQuery()">Send query</button>
        </div>
        <div style="color: red;" id="errorNotice" width="100%">
        </div>
        <div id="result" width="100%">
        </div>
    </body>
    <script>
        $( function() {
            $( "#date" ).datepicker({
                dateFormat: "yy-mm-dd"
            });
        } );

        function sendQuery() {
            var url = 'api/search';
            var data = '{\n' +
                '   "searchQuery": {\n' +
                '       "departureAirport": "' + $( "#depAirport" ).val() + '",\n' +
                '       "arrivalAirport": "' + $( "#arrAirport" ).val() + '",\n' +
                '       "departureDate": "' + $( "#date" ).val() + '"\n' +
                '   }\n' +
                '}';
            var success = function (data) {
                $("#result").empty();
                $("#errorNotice").empty();
                $.each(data['searchResults'], function( index, item ) {
                    $("#result").append(
                        "<p><b>Departure:</b> " + item['departureAirport'] + ", " + item['departureDateTime'] +
                        " <b>Arrival:</b>" + item['arrivalAirport'] + ", " + item['arrivalDateTime'] +
                        " <b>Duration:</b>" + item['duration'] +
                        " by <b>" + item['transporter']['name'] + "</b>" +
                        "</p>"
                    );
                });
                if (data['searchResults'].length === 0) {
                    $("#result").append("<p><b>No routes</b></p>");
                }
            };
            var dataType = 'json';
            var headers = {
                "Authorization":"Basic " + btoa($( "#user" ).val() + ":" + $( "#password" ).val()),
                "Content-Type":"application/json"
            };
            var fail = function (data) {
                $("#result").empty();
                $("#errorNotice").empty();
                $("#errorNotice").append("<p>" + data['responseJSON'][0] + "</p>");
            };

            $.ajax({
                type: "POST",
                url: url,
                data: data,
                headers: headers,
                success: success,
                dataType: dataType,
                error: fail
            });
        }
    </script>
</html>
